/* .btn{
    padding:8px 10px;
    font-weight:normal;
    font-size:medium;
    border-radius: 10px;
    border:none;
    color:white;

}
.insert{
    background-color: rgba(38, 109, 216, 0.911);
}

.search{

} */